@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&display=swap');

body {
    font-family: 'Merriweather', serif;
}

h1 {
    padding: 2rem;
    background-color: #1C1B1A;
    margin: 30px auto 0 auto;
    max-width: 90%;
    font-weight: bold;
    color: white;
    text-align: center;
    border-radius: 2rem;
}

.color {
    color:aqua;
}

button {
    margin: 30px auto 0 auto;
    justify-content: center;
    cursor: pointer;
    align-items: center;
    right: 30px;
    margin-left: 650px;
    padding: 10px;
    border: bold black;
    border-radius: 10px;
    background-color: transparent;

}